<footer class="site-footer">

  <div class="wrapper">

    <div class="site-description">
      <p>
        {{ site.description }}
        <span class="version">
          ({% fdroid_repo_info %}, fdroid-website <a href="https://gitlab.com/fdroid/fdroid-website/tree/{% git_hash %}">{% git_tag %}</a>)
        </span>
	<span class="edit-this-page-area">
	  {%- if site.active_lang == site.default_lang or site.active_lang == 'en' -%}
	  <a href="https://gitlab.com/fdroid/fdroid-website/edit/master/{{ page.relative_path }}" target="_blank">
	    {{ site.data.strings.navigation.edit_on_gitlab }}
	  </a>
	  {%- else -%}
	  {%- assign section = page.path | split: "/" | first -%}
	  {%- assign slug = section | replace_first: "_", "" -%}
	  {%- assign filename = page.path | split: "/" | last -%}
	  {%- if section == "packages" -%}
	  <a href="https://hosted.weblate.org/translate/f-droid/fdroiddata/{{ site.active_lang }}/?q=state:<translated" target="_blank">
	    {%- elsif slug == "docs" or slug == "pages" or slug == "posts" -%}
	  <a href="https://hosted.weblate.org/translate/f-droid/website-{{ slug }}/{{ site.active_lang }}/?q=+location%3A{{ section }}%2F{{ filename }}+" target="_blank">
	    {%- else -%}
	  <a href="https://hosted.weblate.org/translate/f-droid/website/{{ site.active_lang }}/?q=state:<translated" target="_blank">
	  {%- endif -%}
	    {{ site.data.strings.navigation.translate_on_weblate }}
	  </a>
	  {%- endif -%}
	</span>
      </p>
    </div>
  </div>

</footer>
